.todo-container {
  padding-inline: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10%;
  background-color: #333;
  border-radius: 14px;
  margin-bottom: 5px;
  color: #fff;
}

.checkBox {
  width: 10%;
  height: 30%;
  accent-color: rgb(96, 255, 96);
}
